<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Category Classifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to right, #f8f9fa, #e3f2fd);
            font-family: 'Segoe UI', sans-serif;
        }
        .container {
            margin-top: 30px;
            max-width: 700px;
            padding-bottom: 50px;
        }
        textarea {
            height: 200px;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <h1 class="mb-4">📰 News Category Classifier</h1>
    <p class="text-muted mb-4">
        This tool classifies news into one of the following categories:
        <strong>World,Sports,Business,Sci/Tech</strong>.
    </p>
    <form method="post">
        <div class="form-group mb-3">
            <textarea name="description" class="form-control form-control-lg" placeholder="Paste the news article description here..." required>{{description}}</textarea>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary btn-lg w-100 w-md-auto mb-5">Predict Category</button>
        </div>
    </form>
    {% if error %}
            <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if category %}
        <div class="card text-white bg-success mt-5">
            <div class="card-body">
                <h5 class="card-title">Predicted Category</h5>
                <p class="card-text fs-4">{{ category }}</p>
            </div>
        </div>
    {% endif %}
</div>
</body>
</html>
